#container {
    width: 320px;
    height: 320px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
}

div.grid {
    background-color: lightgray;
    width: 20px;
    height: 20px;
}