#container {
    width: 320px;
    height: 320px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
}

.grid {
    background-color: lightgray;
}

.draw {
    background-color: gray;
}
